@page
@model AnimeMarathon.Web.Pages.AnimesByGenreModel
@{
    ViewData["Title"] = "Géneros";
}

<h1>Animes relacionados con genero @Model.GenreName</h1>
<div>

    <div class="card-header" data-toggle="collapse" href="#collapseGenre" role="button" aria-expanded="false" aria-controls="collapseGenre">
        Géneros
    </div>
    <div class="collapse" id="collapseGenre">
        <div class="card-body">
            <!-- Contenido de Géneros -->
            <div style="display: flex; flex-wrap: wrap;">
                @foreach (var genre in Model.Genres)
                {
                            <div style="width: 200px; margin: 10px;">

                                <a href="/AnimesByGenre?genreName=@genre.Name">

                                    <div style="text-align: center;">@genre.Name</div>
                                </a>
                            </div>
                }
            </div>
        </div>
    </div>
    @if (Model.Animes == null || Model.Animes.Count == 0)
    {
                <br />
                <br />
                <p><i>No se encontraron animes con el género @Model.GenreName</i></p>
    }
    else
    {

            <div style="display: flex; flex-wrap: wrap;">
            @foreach (var anime in Model.Animes)
            {
                            <div style="width: 200px; margin: 10px;">
                                <a href="/AnimeDetail?id=@anime.Id">
                                    <img src="@anime.posterImage" alt="@anime.Title Poster" style="max-width: 100%;" />
                                    <div style="text-align: center;">@anime.Title</div>
                                </a>
                            </div>
            }

        </div>
    }
