@page "/AnimeDetail/"
@model AnimeMarathon.Web.Pages.AnimeDetailModel
@{
    ViewData["Title"] = "Anime Detail";
}
<div class="container">
<h1>@Model.Anime.Title</h1>
<div style="display: flex; flex-direction: row;">
    <img src="@Model.Anime.posterImage" alt="@Model.Anime.Title Poster" style="max-width: 50%;" />
    <div style="margin-left: 20px;">
        <h3>Descripción:</h3>
        <p>@Model.Anime.Description</p>
        @* <form method="post" asp-page-handler="AddToMyList">
            <input type="hidden" name="AnimeId" value="@Model.Anime.Id" />
            <input type="hidden" name="UserId" value="@HttpContext.Session.GetString("_Id")" />
            <button type="submit" class="btn btn-primary">Añadir a mi lista</button>
        </form> *@
        <form method="post" asp-page-handler="AddToMyList">
            <input type="hidden" name="AnimeId" value="@Model.Anime.Id" />
            <input type="hidden" name="UserId" value="@HttpContext.Session.GetString("_Id")" />

            <div class="form-group">
                <label for="status">Estado:</label>
                <select id="status" name="Status" class="form-control">
                    <option value="Viendo">Viendo</option>
                    <option value="Visto">Visto</option>
                    <option value="Abandonado">Abandonado</option>
                    <option value="Para ver" selected>Para ver</option>
                </select>
            </div>

            <button type="submit" class="btn btn-primary">Añadir a mi lista</button>
        </form>
    </div>
</div>


<div>
    <h3>Fecha de Publicación:</h3>
    <p>@Model.Anime.StartDate.ToShortDateString()</p>
    <h3>Puntuación:</h3>
    <p>@Model.Anime.AverageRating.ToString()</p>
</div>

<div>
    <h3>PEGI</h3>
    <p>@Model.Anime.AgeRating</p>
</div>
<div>
    <h3>Subtipo:</h3>
    <p>@Model.Anime.Subtype</p>
    <h3>Estado:</h3>
    <p>@Model.Anime.Status</p>
</div>

<div>
    <h3>Total Episodios:</h3>
    <p>@Model.Anime.TotalEpisodes.ToString()</p>
</div>
<div>
    <h3>Generos:</h3>
    <ul>
        @foreach (var genres in Model.Genres)
        {
            <li> @genres.Name</li>
        }
    </ul>
</div>
<div>
    <h3>Categorias:</h3>
    <ul>
        @foreach (var category in Model.Categories)
        {
            <li> @category.Name</li>
        }
    </ul>
</div>
<div>
    <h3>Escribir un Comentario</h3>
    <form method="post" >
        <div class="form-group">
            <label for="comment">Comentario:</label>
            <textarea id="comment" name="CommentString" class="form-control" rows="3"></textarea>
        </div>
        <div class="form-group">
            <input type="hidden" name="AnimeId" value="@Model.Anime.Id" />
            <input type="hidden" name="UserId" value="@HttpContext.Session.GetString("_Id")" />
           
        </div>
        <button type="submit" class="btn btn-primary">Enviar Comentario</button>
    </form>
</div>
<div>
    <h3>Comentarios:</h3>
    <ul>
        @foreach (var comment in Model.Comments)
        {
            <li>@comment.DateTime Escrito por: @comment.User.Name -> @comment.CommentString</li>
            
        }
    </ul>
</div>
<div>
    <a href="/UserMenu" class="btn btn-primary">Volver al Menú</a>
</div>
</div>