@page
@model IndexModel

@{
    ViewData["Title"] = "Home page";
    var nextPage = Model.AnimePageNumber + 1;
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>@ViewData["Title"]</h1>

        </div>
    </div>
    <div class="row mb-4">
        <div class="col-md-12">
            <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#searchFormCollapse" aria-expanded="false" aria-controls="searchFormCollapse">
                Búsqueda Avanzada
            </button>
            <div class="collapse mt-3" id="searchFormCollapse">
                <div class="card card-body">
                    <form id="searchResultsForm" method="post">
                        @*  method="post" asp-page="/SearchResults" *@
                        <div class="form-group">
                            <label for="searchTitle">Buscar por título de anime</label>
                            <input type="text" class="form-control" id="searchTitle" name="searchTitle" placeholder="Título de anime">
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="yearFrom">Desde</label>
                                <input type="number" class="form-control" id="yearFrom" name="yearFrom" placeholder="Año">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="yearTo">Hasta</label>
                                <input type="number" class="form-control" id="yearTo" name="yearTo" placeholder="Año">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="genre">Género</label>
                            <select class="form-control" id="genre" name="genre">
                                <option value="">Seleccione un género</option>
                                @* Aquí puedes agregar opciones dinámicamente *@
                                @foreach (var genre in Model.Genres)
                                {
                                    <option value="@genre.Id">@genre.Name</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="category">Categoría</label>
                            <select class="form-control" id="category" name="category">
                                <option value="">Seleccione una categoría</option>
                                @* Aquí puedes agregar opciones dinámicamente *@
                                @foreach (var category in Model.Categories)
                                {
                                    <option value="@category.Id">@category.Name</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="subtype">Subtipo</label>
                            <select class="form-control" id="subtype" name="subtype">
                                <option value="">Seleccione un subtipo</option>
                                @* Aquí puedes agregar opciones dinámicamente *@
                                @foreach (var subtype in Model.Animes.Select(a => a.Subtype).Distinct())
                                {
                                    <option value="@subtype">@subtype</option>
                                }
                            </select>
                        </div>


                        <div class="form-group">
                            <label for="pegi">PEGI</label>
                            <select class="form-control" id="pegi" name="pegi">
                                <option value="">Seleccione una clasificación PEGI</option>
                                @* Aquí puedes agregar opciones dinámicamente *@
                                @foreach (var pegi in Model.Animes.Select(a => a.AgeRating).Distinct())
                                {
                                    <option value="@pegi">@pegi</option>
                                }
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Buscar</button>
                    </form>
                </div>
            </div>
        </div>
        @* <div id="searchResultsContainer"></div> *@
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-4">
            <div class="card mb-4">

                <div class="card-header" data-toggle="collapse" href="#collapseGenre" role="button" aria-expanded="false" aria-controls="collapseGenre">
                    Géneros
                </div>
                <div class="collapse" id="collapseGenre">
                    <div class="card-body">
                        <!-- Contenido de Géneros -->
                        <div style="display: flex; flex-wrap: wrap;">
                            @foreach (var genre in Model.Genres)
                            {
                                <div style="width: 200px; margin: 10px;">

                                    <a href="/AnimesByGenre?genreName=@genre.Name">

                                        <div style="text-align: center;">@genre.Name</div>
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12  col-lg-8">
            <div class="card mb-4">
                <div class="card-header" data-toggle="collapse" href="#collapseCategory" role="button" aria-expanded="false" aria-controls="collapseCategory">
                    Categorías
                </div>
                <div class="collapse" id="collapseCategory">
                    <div class="card-body">
                        <!-- Contenido de Categorías -->
                        <div style="display: flex; flex-wrap: wrap;">
                            @foreach (var category in Model.Categories)
                            {
                                <div class="anime-item-group">
                                    <a href="/AnimesByCategory?categoryName=@category.Name">


                                        <div style="text-align: center;">@category.Name</div>
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
       @*  <div class="col-md-12 col-lg-6">
            <div class="card mb-4">
                <div class="card-header" data-toggle="collapse" href="#collapseFormat" role="button" aria-expanded="false" aria-controls="collapseFormat">
                    Formato
                </div>
                <div class="collapse" id="collapseFormat">
                    <div class="card-body">

                        <!-- Contenido de Formato -->
                        @foreach (var subtypeGroup in Model.AnimesGroupedBySubtype)
                        {
                            <div data-toggle="collapse" href="#collapse-@subtypeGroup.Key" role="button" aria-expanded="false" aria-controls="collapse-@subtypeGroup.Key">
                                <h5>@subtypeGroup.Key</h5>
                            </div>
                            <div class="collapse" id="collapse-@subtypeGroup.Key">
                                @foreach (var anime in subtypeGroup.Value)
                                {
                                    <div class="anime-item-group">
                                        <a href="/AnimeDetail?id=@anime.Id">
                                            <img src="@anime.posterImage" alt="@anime.Title Poster" style="max-width: 100%;" />
                                            <div style="text-align: center;">@anime.Title</div>
                                        </a>
                                    </div>
                                }
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-6">
            <div class="card mb-4">
                <div class="card-header" data-toggle="collapse" href="#collapseStatus" role="button" aria-expanded="false" aria-controls="collapseStatus">
                    Estado
                </div>
                <div class="collapse" id="collapseStatus">
                    <div class="card-body">
                        <!-- Contenido de Estado -->
                        @foreach (var statusGroup in Model.AnimesGroupedByStatus)
                        {
                            <div data-toggle="collapse" href="#collapse-@statusGroup.Key" role="button" aria-expanded="false" aria-controls="collapse-@statusGroup.Key">
                                <h5>@statusGroup.Key</h5>

                            </div>
                            <div class="collapse" id="collapse-@statusGroup.Key">
                                @foreach (var anime in statusGroup.Value)
                                {
                                    <div style="width: 200px; margin: 10px;">
                                        <a href="/AnimeDetail?id=@anime.Id">
                                            <img src="@anime.posterImage" alt="@anime.Title Poster" style="max-width: 100%;" />
                                            <div style="text-align: center;">@anime.Title</div>
                                        </a>
                                    </div>
                                }
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div> *@
        <div class="col-md-12">
            <div class="card mb-4" id="animeSection">
                <div class="card-header">
                    Animes
                    <a href="#animeSection" onclick="window.location.reload(true);" class="btn btn-primary btn-sm float-right">Ver todos</a>
                </div>
                <div class="card-body" id="searchResultsContainer">
                    <!-- Contenido de Animes -->
                    <!-- Mostrar los animes -->
                    <div style="display: flex; flex-wrap: wrap;">
                        @foreach (var anime in Model.AnimesPaginados)
                        {
                            <div style="width: 220px; margin: 15px;">
                                <a href="/AnimeDetail?id=@anime.Id">
                                    <img src="@anime.posterImage" alt="@anime.Title Poster" style="max-width: 100%;" />
                                    <div style="text-align: center;">@anime.Title</div>
                                </a>
                            </div>
                        }
                        <nav aria-label="Page navigation">
                            <ul class="pagination justify-content-center">
                                @if (Model.AnimePageNumber > 1)
                                {
                                    <li class="page-item">
                                        <a class="page-link" href="/Index?pageNumber=@(Model.AnimePageNumber - 1)">Anterior</a>
                                    </li>
                                }

                                @if (Model.TotalPages > 0)
                                {
                                    @if (Model.AnimePageNumber > 3)
                                    {
                                        <li class="page-item">
                                            <a class="page-link" href="/Index?pageNumber=1">1</a>
                                        </li>
                                        <li class="page-item">
                                            <span class="page-link">...</span>
                                        </li>
                                    }

                                    @for (int i = Math.Max(1, Model.AnimePageNumber - 2); i <= Math.Min(Model.TotalPages, Model.AnimePageNumber + 2); i++)
                                    {
                                        <li class="page-item @(Model.AnimePageNumber == i ? "active" : "")">
                                            <a class="page-link" href="/Index?pageNumber=@i">@i</a>
                                        </li>
                                    }

                                    @if (Model.AnimePageNumber < Model.TotalPages - 2)
                                    {
                                        <li class="page-item">
                                            <span class="page-link">...</span>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" href="/Index?pageNumber=@Model.TotalPages">@Model.TotalPages</a>
                                        </li>
                                    }
                                }

                                @if (Model.AnimePageNumber < Model.TotalPages)
                                {
                                    <li class="page-item">
                                        <a class="page-link" href="/Index?pageNumber=@(Model.AnimePageNumber + 1)">Siguiente</a>
                                    </li>
                                }
                            </ul>
                        </nav>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div><script src="~/js/filter.js"></script>