@page "{username?}"
@model AnimeMarathon.Web.Pages.UserMenuModel
@{
    ViewData["Title"] = "User Profile";
    var nextPage = Model.AnimePageNumber + 1;
}

<div class="container">
    <div>
        <h3>Mi lista de Animes:</h3>

        <div class="animeStatusContainer">
            @foreach (var statusGroup in Model.UserAnimesGroupedByStatus)
            {

                <div>
                    <div class="card-header" data-toggle="collapse" href="#collapse-@statusGroup.Key" role="button" aria-expanded="false" aria-controls="collapse-@statusGroup.Key">
                        @statusGroup.Key.Replace("-", " ")
                        <div class="collapse" id="collapse-@statusGroup.Key">
                            <div class="card-body">
                                <div style="display: flex; flex-wrap: wrap;">
                                    @foreach (var animeUser in statusGroup.Value)
                                    {
                                        <div style="width: 200px; margin: 10px;">
                                            <a href="/AnimeDetail?id=@animeUser.Id">
                                                <img src="@animeUser.posterImage" alt="@animeUser.Title Poster" style="max-width: 100%;" />
                                                <div style="text-align: center;">@animeUser.Title</div>
                                            </a>

                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

        <div class="animeContainer">

            <div class="card-header  d-flex justify-content-between align-items-center">
                <span>Todos mis animes</span>
                <form method="get" class="row">
                    <div class="col-md-14">
                        <select id="sortBy" name="sortBy" class="form-control" onchange="this.form.submit()">
                            <option value="">Ordenar por:</option>
                           @*  <option value="Rating">Mi valoración</option> *@
                            <option value="Title">Título</option>
                            <option value="Date">Fecha de publicación</option>
                        </select>
                    </div>
                </form>
            </div>

            <div class="card-body">

                <div style="display: flex; flex-wrap: wrap;">
                    @foreach (var animes in Model.AnimesPaginados)
                    {
                        <div style="width: 200px; margin: 10px;">
                            <a href="/AnimeDetail?id=@animes.Id">
                                <img src="@animes.posterImage" alt="@animes.Title Poster" style="max-width: 100%;" />
                                <div style="text-align: center;">@animes.Title</div>
                            </a>
                           @*  <div>Mi puntuacion: @animes.MiValoracion</div> *@
                        </div>

                    }
                </div>
            </div>
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    @if (Model.AnimePageNumber > 1)
                    {
                        <li class="page-item">
                            <a class="page-link" href="/UserMenu?pageNumber=@(Model.AnimePageNumber - 1)">Anterior</a>
                        </li>
                    }
                    @for (int i = 1; i <= Model.TotalPages; i++)
                    {
                        <li class="page-item @(Model.AnimePageNumber == i ? "active" : "")">
                            <a class="page-link" href="/UserMenu?pageNumber=@i">@i</a>
                        </li>
                    }
                    @if (Model.AnimePageNumber < Model.TotalPages)
                    {
                        <li class="page-item">
                            <a class="page-link" href="/UserMenu?pageNumber=@(Model.AnimePageNumber + 1)">Siguiente</a>
                        </li>
                    }
                </ul>
            </nav>
        </div>

    </div>

</div>

